<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<header>
  <h1>Chitter</h1>
  <section> 
      <% if flash[:errors] %>
        <ul id='errors'>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
        </ul>
      <% end %>
    <div><%= flash[:bye] %></div>


    <% if current_user %>
      Welcome, <%= current_user.name%>
      <form action='/session/end'>
        <button>Sign out</button>
      </form>
      <form action="/peeps/new" method="post">
        <input name="new_peep" type="text" placeholder="Type a new peep">
        <button>New Peep</button>
      </form>

    <% else %>
      <form action="/sessions/new" method="post">
        Email: <input name="email" type="text" >
        Password: <input name="password" type="password">
        <input type="submit" value="Log in">
      </form>
      <form action="/user/register">
        <button>Register</button>
      </form>
    <% end %>
  </section>

</header>
<body>
<section>
  Peeps:
  <% @peeps.each do |tweet| %>        
    <%= tweet.user.name %> 
    @<%= tweet.user.username %>
    <%= tweet.peep %>
  <% end %>  
</section>


</body>
</html>