<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
  <h1>Please sign up</h1>
  <section>
      <% if flash[:errors] %>
        <ul id='errors'>
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
        </ul>
      <% end %>
    <form action="/users" method="post" value="<%= @user.name %>">
      Name: <input name="name" type="text" value="<%= @user.name %>">
      Username: <input name="username" type="text" value="<%= @user.username %>">
      Email: <input name="email" type="text" value="<%= @user.email %>">
      Password: <input name="password" type="password">
      Confirm Password: <input name="password_confirmation" type="password">
      <input type="submit" value="Register">
    </form>
  </section>


</body>
</html>